<div class="row">
<div class="col-4">
<form [formGroup]="registerForm">

    <label class="form-label">Username</label>
    <input type="text" class="form-control" formControlName="username">
    
    <label class="form-label">Email</label>
    <input type="text" class="form-control" formControlName="email">
    
    <label class="form-label">Conatct </label>
    <input type="text" class="form-control" formControlName="contact">
    
    <label class="form-label">Password  </label>
    <input type="text" class="form-control" formControlName="pwd1">

    <label class="form-label">Confirm Password </label>
    <input type="text" class="form-control" formControlName="pwd2">


</form>
<button (click)="register()">Register User</button>
</div>
</div>