<p>apiinfo works!</p>
{{msg}}
{{user}}
<button (click)="serviced()">Clickme</button>
<!-- {{users}} -->
<!-- <div class="container">
    <div class="row">
        <div class="col mx-4 my-4" *ngFor="let user of users ">
    <div class="card" style="width: 12rem;"  >
        <img src="https://www.pngfind.com/pngs/m/545-5453533_man-profile-circle-shape-photo-comments-anonymous-user.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.email}}</p>
           <a href="#" class="btn btn-primary">Go somewhere</a> 
        </div>
    </div>
      </div>
    </div>
</div> -->
<!-- Todo 
<div *ngFor="let task of users">
<h4>{{task.title}}</h4>
<input type="checkbox" [checked]="task.completed" [disabled]="true"> 
<span *ngIf="task.completed">DONE</span>
<span *ngIf="!task.completed">NOT DONE</span>


</div> -->